.activeEvents {
    overflow-y: scroll;
    max-height: 500px;
    border: 1px solid;
    scrollbar-width: thin;
    box-shadow: 0.1em 0.1em 0 0 rgba(0, 0, 0, 0.28);
}

.activeEvents li {
    text-align: left;
}